<html>
<head>
    <title>Cosmian's blog</title>
</head>
<body>
    <div>
        <p>Hi there!</p>
        <p>It works!</p>
    </div>

    <div>
        <p>published: 16.09.2019, 12:40</p>
        <h2><a href="">My First post</a></h2>
        <p>It's better to be hated for what you are than to be loved for what you are not.</p>
    </div>

    <div>
        <p>published: 16.09.2019, 12:40</p>
        <h2><a href="">My second post</a></h2>
        <p>I'm worried about my future. so I can't stay now. I have to study now.</p>
    </div>
</body>
</html>